/* Start variables */
:root {
  --first-color: #3744c6; /* #3b82f6 */
  --second-color: #1e293b;
  --section-color: #eff3f9;
}

@font-face {
  font-family: Montserrat, sans-serif;
  src: url(./../assets/fonts/Montserrat-VariableFont_wght.ttf);
}
/* End variables */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}

/* Start Global Rules */

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

/* End Global Rules */

/* Start Global Componet */
.btn.btn-one {
  color: #fff;
  font-size: 14px;
  background-color: var(--first-color);
  border-color: var(--first-color);
}
.btn.btn-two {
  font-size: 14px;
  color: gray;
  border-color: rgba(128, 128, 128, 0.25);
}
@media (max-width: 328px) {
  .btn.btn-one {
    font-size: 13px;
  }
  .btn.btn-two {
    font-size: 13px;
  }
}
.btn.btn-two:hover {
  background-color: var(--first-color);
  border-color: var(--first-color);
  color: #fff;
}
/* End Global Componet */

/* Start nav */
.navbar {
  background-color: var(--section-color);
}
.navbar .navbar-toggler:focus {
  box-shadow: none;
}
.navbar .list {
  flex: 1;
  justify-content: center;
}
.navbar .list .drop-menu {
  width: 170px;
  background-color: white;
  box-shadow: 0 0 22px 1px rgb(0 0 0 / 5%);
  padding: 12px;
  border-radius: 5px;
}
@media (min-width: 768px) {
  .navbar .list .mx-md-3 {
    margin-right: 1.25rem !important;
    margin-left: 1.25rem !important;
  }
}
@media (min-width: 1200px) {
  .navbar .list .mx-xl-4 {
    margin-right: 2rem !important;
    margin-left: 2rem !important;
  }
}
.navbar .list ul li a {
  color: #475569;
  font-size: 14px;
  transition: 0.3s;
}
.navbar .list ul li a:hover {
  color: var(--first-color);
}
.navbar .list ul li {
  position: relative;
}
.navbar .list ul {
  position: relative;
}
.navbar .list .home {
  position: absolute;
  left: -15px;
  top: -250px;
  opacity: 0;
  transition: 0.3s;
}
.navbar .list ul .menup.open ul.home {
  top: 30px;
  opacity: 1;
}
.navbar .list .menu-ul .open {
  color: var(--first-color);
}
.navbar .list ul.main-ul li.menup::after {
  content: "";
  position: absolute;
  right: -12px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: gray;
  top: 49%;
  transform: translateX(-50%);
}
.navbar .navbar-toggler .navbar-toggler-icon {
  transition: 0.3s;
}
.navbar .navbar-toggler:focus .navbar-toggler-icon {
  transform: rotateZ(180deg);
}

/* custom nav mobile*/
.navbar .offcanvas-body .dropdown-menu {
  padding: 0.5rem 0 0.5rem 20px;
  border: none;
}
a.nav-link {
  color: gray !important;
  font-size: 17px;
  transition: 0.3s;
}
a.nav-link:hover {
  color: var(--first-color) !important;
}
.dropdown-toggle::after {
  margin-left: 1em;
  transition: 0.3s;
}
.dropdown-toggle.show::after {
  transform: rotateZ(180deg);
}
.dropdown-item:focus,
.dropdown-item:hover {
  color: var(--second-color) !important;
  background-color: #5562f394 !important;
}
/* End nav */

/* Start Section Header */
.section-header {
  height: fit-content;
  background-color: var(--section-color);
  padding: 30px 0;
}
/* .section-header::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--section-color);
  width: 100%;
  height: 95vh;
  border-bottom-left-radius: 150px;
  border-bottom-right-radius: 150px;
  z-index: -1;
} */
.section-header .content {
  text-align: center;
  width: 100%;
  height: calc(75vh - 70px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section-header .content h1 {
  font-size: 45px;
  font-weight: bold;
}

.section-header .content p {
  color: gray;
  font-size: 17px;
}
@media (max-width: 767px) {
  .section-header .content h1 {
    font-size: 35px;
  }

  .section-header .content p {
    font-size: 16px;
  }
}
@media (max-width: 425px) {
  .section-header .content h1 {
    font-size: 25px;
  }

  .section-header .content p {
    font-size: 15px;
  }
}

.section-header .content h1 span,
.section-header .content p span {
  color: var(--first-color);
  font-weight: bold;
}
.section-header .content .btns .btn-two {
  background-color: white;
  color: gray;
}
.section-header .content .btns .btn-two:hover {
  background-color: var(--first-color);
  color: white;
}
.section-header .footer-content {
  position: relative;
  margin: 0 auto;
  width: 100%;
}
.section-header .footer-content::before {
  content: "";
  position: absolute;
  top: 55%;
  left: 50%;
  width: 70%;
  height: 100%;
  transform: translate(-50%, -50%);
  background-image: url(../assets/images/dashboard.webp);
  background-size: contain;
  background-repeat: no-repeat;
  animation: up-down 2s infinite linear alternate;
}
.section-header .footer-content img {
  max-width: 100%;
}

@keyframes up-down {
  0% {
    top: 55%;
  }
  100% {
    top: 58%;
  }
}
/* End Section Header

/* Start about */

.about {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.about .content .content-row {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
}
.about .content .svg {
  max-width: fit-content;
  padding: 12px 5px;
  background-color: var(--section-color);
  border-radius: 9px;
}
.about .content .body {
  align-self: center;
}
.about .content .body h2 {
  font-size: 22px;
  font-weight: bold;
  color: var(--second-color);
  padding: 0;
  margin: 0;
}
.about .content .body p {
  color: gray;
  font-size: 15px;
  padding: 0;
  margin: 0;
}

@media (max-width: 425px) {
  .about .content .min-div {
    margin: 20px;
  }
}
/* End about */
/* Start Features */
.features {
  overflow: hidden;
}
.features .fw-bold {
  color: #39475e;
}
.features .imgs {
  position: relative;
}
.features .imgs .main-img img {
  max-width: 100%;
  border-radius: 20px;
  transform: translateY(-10px);
  animation: features-up-down 2s infinite linear alternate;
}
.features .imgs .t-tear,
.features .imgs .b-tear {
  position: absolute;
  width: 165px;
  z-index: -1;
}
.features .imgs .t-tear {
  top: -30px;
  left: -30px;
}
.features .imgs .b-tear {
  bottom: -30px;
  right: -30px;
}

@keyframes features-up-down {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(10px);
  }
}
/* End Team */
.team {
  background-color: var(--section-color);
}
.team .content-1 h1 {
  font-weight: bold;
}
.team .content-1 h1 span {
  color: var(--first-color);
  line-height: 1.7;
}
.team .content-1 p {
  line-height: 1.7;
  color: gray;
}
.team .content-1 div:nth-child(2) {
  padding: 20px 0px;
}
.team .content-2 .card img {
  width: 60%;
  max-height: 200px;
}
.team .content-2 .card .head {
  color: var(--first-color);
  background-color: rgba(55, 67, 198, 0.3);
  font-weight: bold;
}
.team .content-2 .card {
  transform: translateY(0);
  transition: 0.3s;
}
.team .content-2 .card:hover {
  transform: translateY(-10px);
}
.team .content-2 .card h2 {
  font-size: 20px;
  font-weight: bold;
}
.team .content-2 .card p {
  font-size: 15px;
  color: gray;
  line-height: 1.7;
}

/* End Team */
/* Start Slider */

.slider .row.main {
  position: relative;
}

.slider .slid {
  padding: 30px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  min-width: 200px;
  min-height: 300px;
}

.swiper-slide .con-slider {
  border: 1px solid rgba(128, 128, 128, 0.06);
  box-shadow: 0 0 14px rgb(0 0 0 / 6%);
  padding: 20px;
  border-radius: 5px;
  text-align: justify;
  padding: 20px 10px;
}

.swiper-slide .con-slider h5 {
  margin-top: 6px;
  font-size: 15px;
  font-weight: bold;
  color: var(--second-color);
}
.swiper-slide .con-slider p {
  color: gray;
  font-size: 15px;
  margin: 0;
}

.slider .content-1 h1 {
  font-weight: bold;
  font-size: 35px;
  color: var(--second-color);
  padding-right: 50px;
}
.slider .content-1 h1 span {
  color: var(--first-color);
}

.slider .content-1 p {
  color: gray;
  font-size: 15px;
  padding-right: 110px;
  line-height: 1.7;
}

.slider .swiper-button {
  position: absolute;
  left: 50px;
}
.slider .swiper-button .swiper-button-next {
  left: 80px;
}
@media (max-width: 768px) {
  .swiper-slide img {
    height: 370px;
  }
  .slider .content-1 h1 {
    font-size: 25px;
    padding-right: 10px;
  }
}

/* End Slider */

/* Start Pricing */
.pricing {
  background-color: var(--section-color);
  /* border-bottom-right-radius: 170px;
  border-bottom-left-radius: 170px; */
}
.pricing .content-header {
  text-align: center;
}
.pricing .content-header h1 {
  color: var(--second-color);
  font-weight: bold;
  font-size: 35px;
}
.pricing .content-header h1 span {
  color: var(--first-color);
}
.pricing .content-header p {
  color: gray;
}
.pricing .content-body .card {
  border-radius: 5px;
  border: none;
  transition: 0.3s;
}

@media (max-width: 767px) {
  .pricing .content-body .card {
    width: 90%;
  }
}

.pricing .content-body .card:nth-child(2) {
  background-color: var(--first-color);
}
.pricing .content-body .card img {
  width: 100px;
}
.pricing .content-body .card h1 {
  font-weight: 19px;
  font-weight: bold;
}
.pricing .content-body .card h2 {
  font-weight: 18px;
  font-weight: bold;
  color: var(--first-color);
}
.pricing .content-body .card p {
  font-weight: 15px;
  color: gray;
}

.pricing .content-body .card .btns div {
  min-width: 130px;
  font-size: 12px;
  font-weight: bold;
}
@media (min-width: 767px) {
  .pricing .content-body .card .btns div {
    min-width: 100px;
  }
}
.pricing .content-body .card .btns div.py-2 {
  padding-top: 0.75rem !important;
  padding-bottom: 0.75rem !important;
}

.pricing .content-body .card:nth-child(2) h1,
.pricing .content-body .card:nth-child(2) h2,
.pricing .content-body .card:nth-child(2) p,
.pricing .content-body .card:nth-child(2) .btns div {
  color: white;
}

.pricing .content-body .card:nth-child(2) .btns div:first-child {
  background-color: white;
  color: var(--first-color);
}
.pricing .content-body .card:nth-child(2) .btns div {
  border-color: white;
}

.pricing .content-body .card:hover {
  background-color: var(--first-color);
}
.pricing .content-body .card:hover svg {
  color: white;
}
.pricing .content-body .card svg {
  color: gray;
}
.pricing .content-body .card:nth-child(2) svg {
  color: white;
}
.pricing .content-body .card:hover h1,
.pricing .content-body .card:hover h2,
.pricing .content-body .card:hover p,
.pricing .content-body .card:hover .btns div {
  color: white;
}

.pricing .content-body .card:hover .btns div:first-child {
  background-color: white;
  color: var(--first-color);
}
.pricing .content-body .card:hover .btns div {
  border-color: white;
}
.pricing .content-body .pr-list {
  width: max-content;
}

/* End Pricing */

/* Start Subscribe */
.subscribe {
  height: 600px;
  background-color: rgba(239, 243, 249, 0.521);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.subscribe .content {
  margin: 0 auto;
  width: fit-content;
}
.subscribe .content h1 {
  font-weight: bold;
  font-size: 45px;
}
@media (max-width: 767px) {
  .subscribe .content h1 {
    font-size: 25px;
  }
}
.subscribe .content span {
  color: var(--first-color);
}
.subscribe .content p {
  color: gray;
}
.subscribe .content form {
  display: flex;
  justify-content: space-between;
}
.subscribe .content form input {
  flex: 1;
  background-color: var(--section-color);
  border: 0;
  outline: none;
  font-size: 14px;
  color: var(--first-color);
  border-radius: 5px;
  font-weight: bold;
  height: fit-content;
}
.subscribe .content form input::placeholder {
  font-size: 12px;
  color: gray;
  font-weight: bold;
}

/* End Subscribe */

/* Start Footer */

footer .content .help p {
  color: gray;
  color: gray;
  margin: 7px 0 0 0;
}
footer .content .help b {
  color: var(--first-color);
}
footer .content h1 {
  font-size: 17px;
  font-weight: bold;
}
footer .content p {
  color: gray;
  font-size: 15px;
}
footer .content .foot p b {
  color: var(--first-color);
}
/* End Footer */
/*#################     Start AboutUs Page         #################*/

/*#################     End AboutUs Page         #################*/
/*#################     Start contactus Page         #################*/

/*#################     End contactus Page         #################*/
/*#################     Start Login Page         #################*/

/*#################     End Login Page         #################*/
/*#################     Start Sign Up Page         #################*/
.bg-main {
  background-color: var(--section-color);
}
.signup input {
  background-color: var(--section-color);
}
.signup input::placeholder {
  font-size: 16px !important;
}

@media (max-width: 767px) {
  .w-50 {
    width: 100% !important;
  }
}
/*#################     End Sign Up Page         #################*/
